@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #464646;
}
.marker {
  color: #24976d;
}
.introduction,
.education,
.experience {
  margin: 30vh 0;
}
@media(max-width:320px){
    .experience {
      margin: 10vh 0;
    }
}

header {
  background-color: #4bfabb;
    width: 100%;
  height: 100vh;
  @include layout_flex(column, center, center);
}
header h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 15vh;
  color: #fff;
    @media(max-width: 1024px){
        font-size: 10vh;
    }
    @media(max-width:650px){
        font-size: 7vh;
    }
    @media(max-width:512px){
        font-size: 5vh;
    }
    @media(max-width:375px){
        font-size: 4vh;
    }
}
.fade{
    @include percentOpacity();
}
/**

main style

*/
main {
  @include layout_flex(column, center, center);
}
.introduction {
  @include layout_flex(row, center, center);
  height: 100vh;
    @media(max-width: 940px){
        @include layout_flex(column, center, center);
    }
}
/**

First Page Style
Introduction, 2 section

*/
.header-section-left {
  width: 40%;
  @include layout_flex(column, center, center);
    @media(max-width: 940px){
        width: 100%;
    }
}
.header-section-right {
  width: 60%;
  @include layout_flex(column, center, center);
    @media(max-width: 940px){
        width: 80%;
    }
    
}
.header-section-right h3 {
  font-size: 5em;
  margin-bottom: 1em;
  font-weight: bold;
    @media(max-width: 940px){
        font-size: 3em;
        margin-top: 5em;
    }
    @media(max-width:650px){
        font-size: 2em;
    }
    @media(max-width:375px){
        font-size: 1.6em;
        margin-top: 6em;
    }
}
.greetings {
  width: 80%;
  text-align: justify;
  line-height: 2em;
    @media(max-width:320px){
        font-size: .8em;
    }
}
.greetings:first-child {
  text-align: left;
}
.header-section-left h3 {
  font-size: 2.5em;
  margin-top: 1em;
    @media(max-width:375px){
        font-size: 1.8em;
    }
    
}
.header-section-left img{
    width: 256px;
    @media(max-width: 320px){
        width: 180px;
    }
}
h3.marker + p {
  font-size: 1.1em;
  font-weight: 600;
  margin: 0.4em 0;
    @media(max-width:375px){
        font-size: .9em;
    }
}

/**

Education Style

*/
.education {
  width: 100%;
  @include layout_flex();
    @media(max-width: 940px){
        @include layout_flex(column, center, center);
    }
}
.education-left {
  width: 50%;
  margin-left: 10%;
    @include layout_flex(column, center, flex-start);
    @media(max-width: 940px){
        width: 90%;
        margin-left: 0;
    }
}
.education-left h3 {
  font-size: 7em;
  font-weight: 900;
  position: relative;
  z-index: 2;
    @media(max-width:650px){
        font-size: 5em;
        margin-left: 1em;
    }
    @media(max-width:512px){
        font-size: 4em;
        margin-left: .5em;
    }
    @media(max-width:320px){
        font-size: 3em;
    }
}
.slide {
  margin-left: 20px;
}
/* .education-image{
    background-image: url(../img/school.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    height: 50vh;
} */
.education-image {
  width: 90%;
    position: relative;
    top: 30vh;
  z-index: -2;
    margin: 0 auto;
    @media(max-width:512px){
        width: 80%;
    }
  /* object-fit: cover; */
}
.education-right {
  width: 50%;
    @media(max-width: 940px){
        width: 80%;
    }
    @media(max-width:650px){
        width: 70%;
    }
}
.education-right-header {
  margin: 5em;
    text-align: right;
    @media(max-width:512px){
        margin: 5em 0;
    }
}
.education-right h3 {
  font-size: 3em;
    @media(max-width:650px){
        font-size: 2em;
    }
    @media(max-width:320px){
        font-size: 1.5em;
    }
}
.education-right-header ~ div {
  margin: 2em 0;
}
.education-right-header ~ div > p:first-child {
  font-size: 1.1em;
}
.education-right-header ~ div > p:nth-child(2) {
  font-size: 1.5em;
    font-weight: bold;
    @media(max-width:320px){
        font-size: 1.2em;
    }
}
.education-right-header ~ div > p:nth-child(3) {
  font-size: 1.3em;
    @media(max-width:320px){
        font-size: 1.1em;
    }
}
.education-right-header ~ div:last-child > p:last-child{
    @media(max-width:320px){
        font-size: .8em;
    }
}
/**

Experience Style

*/
.experience {
  width: 100%;
  @include layout_flex(column, center, center);
}
.experience-top,
.experience-bottom {
  width: 100%;
    @media(max-width: 940px){
        width: 90%;
    }
}
.experience-top,
.experience-bottom {
  @include layout_flex(column, center, center);
}
.experience-image {
  width: 90%;
    @media(max-width:512px){
        width: 80%;
    }
}
/*.work-image {
  width: 100%;
  height: 40vh;
  background-image: url(../img/work-experience.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}*/
.experience-image img{
    width: 100%;
    height: 40vh;
    position: relative;
    top: 80vh;
    z-index: -2;
    object-fit: cover;
    @media(max-width:512px){
        height: 20vh;
    }
    @media(max-width:414px){
        top: 90vh;
    }
    @media(max-width:320px){
        top: 80vh;
    }
}
.experience-top h3 {
  font-size: 7em;
  font-weight: 900;
  position: relative;
  top: 0.7em;
    @media(max-width:650px){
        font-size: 5em;
    }
    @media(max-width:512px){
        font-size: 4em;
    }
    @media(max-width:375px){
        font-size: 3em;
    }
    @media(max-width:320px){
        top: 0;
    }
}
.experience-timeline {
  width: 90%;
}
.experience-bottom h4 {
  font-size: 3em;
  margin: 1em 0;
    @media(max-width: 940px){
        margin: 1em;
    }
    @media(max-width:650px){
        font-size: 2em;
    }
    @media(max-width:375px){
        font-size: 1.5em;
    }
}
.work-details {
  width: 100%;
  @include layout_flex(row, space-between, flex-start);
    @media(max-width: 940px){
        @include layout_flex(column, center, center);
    }
}
.work-details > div {
  margin: 1vw;
  height: 200px;
  @include layout_flex(column, center, flex-end);
     @media(max-width: 940px){
        height: 200px;
         width: 80%;
         @include layout_flex(column, center, center);
    }
    @media(max-width:512px){
        height: 100px;
    }
    @media(max-width:375px){
        height: 80px;
    }
}
.work-details > div:nth-child(odd) > p:first-child,
.work-details > div:nth-child(odd) > p:nth-child(3) {
  font-size: 1.1em;
    @media(max-width:375px){
        font-size: .9em;
    }
    @media(max-width:320px){
        font-size: .8em;
    }
}
.work-details > div:nth-child(odd) > p:nth-child(2) {
  font-size: 1.3em;
  font-weight: 900;
    @media(max-width:500px){
        font-size: 1.2em;
    }
    @media(max-width:375px){
        font-size: 1.1em;
    }
    @media(max-width:330px){
        font-size: .9em;
    }
}
.work-details > div:nth-child(even) > span {
  position: absolute;
  padding: 15px;
  box-shadow: 3px 3px #464646 inset;
  -webkit-box-shadow: 3px 3px #464646 inset;
  @include transformStyle(rotateZ(135deg));
    @media(max-width: 940px){
        @include transformStyle(rotateZ(-135deg));
    }
    @media(max-width:375px){
        padding: 10px;
    }
}
.work-details > div:nth-child(even) > span:nth-child(2) {
  position: relative;
    top: 0;
  left: 20px;
    @media(max-width: 940px){
        left: 0;
        top: 20px;
    }
    @media(max-width:375px){
        top: 10px;
    }
}